<StackLayout>
  <Label text="Test Your Memory" class="title"></Label>
  <GridLayout columns="*, auto" rows="*, auto" width="300" height="300">
      <Label row="0" col="0" backgroundColor="red" width="150" height="150"></Label>
      <Label row="0" col="1" backgroundColor="purple" width="150" height="150"></Label>
      <Label row="1" col="0" backgroundColor="purple" width="150" height="150"></Label>
      <Label row="1" col="1" backgroundColor="red" width="150" height="150"></Label>
  </GridLayout>
</StackLayout>
