Button {
  background-color: white;
  horizontal-align: baseline;
  margin: 2;
}

#purple.selected {
  background-color: purple;
}
#red.selected {
  background-color: red;
}

#endAlarm {
  visibility: collapse;
}

#endAlarm.taskPassed {
  visibility: visible;
}
