<ActionBar title="Settings">
</ActionBar>
<StackLayout>

  <ListPicker #picker
    (loaded) = "configureTask(picker)"
    class="picker"
    row="0"
    [items]="tasks"
    [selectedIndex]="selectedIndex"
    (selectedIndexChange)="selectedIndexChanged(picker)">
  </ListPicker>

  <Button row="1" text="Random" class="small-button" (tap)="randomPicker(picker)"></Button>

  <ListPicker #soundPicker
    (loaded) = "configureSound(soundPicker)"
    class="picker"
    row="2"
    [items]="sounds"
    [selectedIndex]="selectedIndex"
    (selectedIndexChange)="selectedSoundIndexChanged(soundPicker)">
  </ListPicker>

  <Button row="3" text="Random" class="small-button" (tap)="randomPicker(soundPicker)"></Button>

  <Label text="Choose a Difficulty"></Label>
  <Slider row="4" #setDifficulty [value]="savedDifficulty" (valueChange)="difficultyChanged(setDifficulty)"
          minValue="1" maxValue="24">
  </Slider>

  <Button row="5" text="Save settings" (tap)="saveSettings()"></Button>

</StackLayout>
