<ActionBar title="Settings">
</ActionBar>
<StackLayout>

  <ListPicker #picker
    (loaded) = "configureTask(picker)"
    class="picker"
    row="0"
    [items]="tasks"
    [selectedIndex]="selectedIndex"
    (selectedIndexChange)="selectedIndexChanged(picker)">
  </ListPicker>

  <Label row="1" text="Choose a memory task difficulty"></Label>

  <Slider row="2" #setDifficulty [value]="savedDifficulty" (valueChange)="difficultyChanged(setDifficulty)"
    minValue="1" maxValue="24">
  </Slider>

  <ListPicker #soundPicker
    (loaded) = "configureSound(soundPicker)"
    class="picker"
    row="3"
    [items]="sounds"
    [selectedIndex]="selectedIndex"
    (selectedIndexChange)="selectedSoundIndexChanged(soundPicker)">
  </ListPicker>

  <Button row="4" text="Save settings" (tap)="saveSettings()"></Button>

</StackLayout>
