page {
    background-color: #525478;
    color: #ffffff;
}

actionbar {
    background-color: #525478;
}

button, label, stack-layout {
    horizontal-align: center;
}

stack-layout {
  margin-left: 5;
  margin-right: 5;
}

Button {
    font-size: 26;
    /*width: 60%;
    margin: 20 0;
    background-color: #ffffff;
    color: #525478;
    border-radius: 2;
    text-align: center;*/
}

Slider {
  margin-left: 20;
  margin-right: 20;
  color: white;
}

#timePicker {
  color: white;
  margin: 20 0;
}

#taskPicker {}

#soundPicker {}

#saveSettings {
  margin: 2 0 20 0;
}

.title {
    font-size: 28;
    margin: 15;
}

.message {
    font-size: 20;
    text-align: center;
    margin: 0 20;
}

.alarm-time{
  font-size: 60;
}
