  <StackLayout>

    <Label text="Choose a time" class="title" row="0"></Label>

    <timePicker class="picker" #timePicker (loaded)="configureTime(timePicker)" verticalAlignment="center" row="1"></timePicker>

    <ListPicker #picker
        class="picker"
        row="2"
        [items]="tasks"
        [selectedIndex]="selectedIndex"
        (selectedIndexChange)="selectedIndexChanged(picker)">
    </ListPicker>

    <Button row="3" text="Set Alarm" (tap)="saveTime(timePicker)"></Button>

  </StackLayout>
