<ActionBar title="Slider">
</ActionBar>
<StackLayout>
  <Label text="Slide to 10" class="title"></Label>
  <Slider #slider1
  [value]=""
  (valueChange)="valueChanged(slider1)"
  value="" minValue="1" maxValue="10"></Slider>

  <Slider #slider2 value="" minValue="1" maxValue="10"></Slider>
  <Slider #slider3 value="" minValue="1" maxValue="10"></Slider>
  <Slider #slider4 value="" minValue="1" maxValue="10"></Slider>
  <Slider #slider5 value="" minValue="1" maxValue="10"></Slider>
  <Button text="Finished" (tap)="checkValue(slider1,slider2,slider3,slider4,slider5)"></Button>
</StackLayout>
